tests/org.jboss.tools.switchyard.ui.bot.test/resources/java_wsdl/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n1="urn:sap-com:document:sap:rfc:functions">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="numeric16">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16" />
					<xsd:pattern value="\d*" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="string">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
			xmlns:n0="urn:sap-com:document:sap:rfc:functions">
			<xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
			<xsd:simpleType name="RfcException.Message.Number">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3" />
					<xsd:pattern value="\d*" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="Qname">
				<xsd:sequence>
					<xsd:element name="Name" type="n0:string" />
					<xsd:element name="Namespace" type="n0:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="IdocAssign">
				<xsd:sequence>
					<xsd:element name="TransferId" type="n0:numeric16" />
					<xsd:element name="DbId" type="n0:numeric16" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RfcException.Message">
				<xsd:sequence>
					<xsd:element name="ID" type="xsd:string" />
					<xsd:element name="Number" type="tns:RfcException.Message.Number" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZidocInboundXmlSoapHttp.RfcException">
				<xsd:sequence>
					<xsd:element name="Name"
						type="tns:ZidocInboundXmlSoapHttp.RfcExceptions" />
					<xsd:element name="Text" type="xsd:string" minOccurs="0" />
					<xsd:element name="Message" type="tns:RfcException.Message"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="IdocAssignTab">
				<xsd:sequence>
					<xsd:element name="item" type="tns:IdocAssign"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ZidocInboundXmlSoapHttp.RfcExceptions">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="NoIdocsReceived" />
					<xsd:enumeration value="TagError" />
					<xsd:enumeration value="NoDataReceived" />
					<xsd:enumeration value="NoIdocsSaved" />
					<xsd:enumeration value="NoAuthority" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="ZidocInboundXmlSoapHttp.Exception"
				type="tns:ZidocInboundXmlSoapHttp.RfcException" />
			<xsd:element name="ZidocInboundXmlSoapHttp">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RequestQname" type="tns:Qname"
							minOccurs="0" />
						<xsd:element name="XmlStream" type="xsd:base64Binary" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZidocInboundXmlSoapHttpResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Assign" type="tns:IdocAssignTab" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZidocInboundXmlSoapHttp">
		<wsdl:part name="parameters" element="tns:ZidocInboundXmlSoapHttp" />
	</wsdl:message>
	<wsdl:message name="ZidocInboundXmlSoapHttpResponse">
		<wsdl:part name="parameter" element="tns:ZidocInboundXmlSoapHttpResponse" />
	</wsdl:message>
	<wsdl:message name="ZidocInboundXmlSoapHttp.Exception">
		<wsdl:part name="ZidocInboundXmlSoapHttp.Exception" element="tns:ZidocInboundXmlSoapHttp.Exception" />
	</wsdl:message>
	<wsdl:portType name="ZIDOC_XML_SOAP_WS">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem applicationComponent="CA" />
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsdl:operation name="ZidocInboundXmlSoapHttp">
			<wsdl:input message="tns:ZidocInboundXmlSoapHttp" />
			<wsdl:output message="tns:ZidocInboundXmlSoapHttpResponse" />
			<wsdl:fault name="ZidocInboundXmlSoapHttp.Exception"
				message="tns:ZidocInboundXmlSoapHttp.Exception" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="binding" type="tns:ZIDOC_XML_SOAP_WS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="ZidocInboundXmlSoapHttp">
			<soap:operation
				soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZIDOC_XML_SOAP_WS:ZidocInboundXmlSoapHttpRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ZidocInboundXmlSoapHttp.Exception">
				<soap:fault name="ZidocInboundXmlSoapHttp.Exception" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="binding_SOAP12" type="tns:ZIDOC_XML_SOAP_WS">
		<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="ZidocInboundXmlSoapHttp">
			<wsoap12:operation
				soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZIDOC_XML_SOAP_WS:ZidocInboundXmlSoapHttpRequest"
				style="document" />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ZidocInboundXmlSoapHttp.Exception">
				<wsoap12:fault name="ZidocInboundXmlSoapHttp.Exception"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="service">
		<wsdl:port name="binding" binding="tns:binding">
			<soap:address
				location="http://SAPECCDEVAS01.byxor.hm.com:8000/sap/bc/srt/rfc/sap/zidoc_xml_soap_ws/200/service/binding" />
		</wsdl:port>
		<wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
			<wsoap12:address
				location="http://SAPECCDEVAS01.byxor.hm.com:8000/sap/bc/srt/rfc/sap/zidoc_xml_soap_ws/200/service/binding" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>