tests/org.jboss.tools.teiid.ui.bot.test/resources/projects/WsCreationProject/others/ProductInfo.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:tns="http://teiid.org" 
		xmlns:schema1="http://www.metamatrix.com/ProductsInfo" 
		name="WsModel" 
		targetNamespace="http://teiid.org" xmlns:xsd1="http://teiid.org/ProductInfo">
    
    <types>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import namespace="http://teiid.org/ProductInfo"
    			schemaLocation="../schemas/ProductSchema.xsd">
    		</xsd:import></xsd:schema></types>
    <message name="deleteProductInfo_Input">
        <documentation>Input message for operation ProductInfo/deleteProductInfo.</documentation>
        <part element="xsd1:IdInput" name="deleteProductInfo_IdInput" />
    </message>
    <message name="deleteProductInfo_Output">
        <documentation>Output message for operation ProductInfo/deleteProductInfo.</documentation>
        <part element="xsd1:ResultOutput" name="deleteProductInfo_ResultOutput" />
    </message>
    <message name="insertProductInfo_Input">
        <documentation>Input message for operation ProductInfo/insertProductInfo.</documentation>
        <part element="xsd1:ProductInput" name="insertProductInfo_ProductInput" />
    </message>
    <message name="insertProductInfo_Output">
        <documentation>Output message for operation ProductInfo/insertProductInfo.</documentation>
        <part element="xsd1:ResultOutput" name="insertProductInfo_ResultOutput" />
    </message>
    <message name="getProductInfo_Input">
        <documentation>Input message for operation ProductInfo/getProductInfo.</documentation>
        <part element="xsd1:IdInput" name="getProductInfo_IdInput" />
    </message>
    <message name="getProductInfo_Output">
        <documentation>Output message for operation ProductInfo/getProductInfo.</documentation>
        <part element="xsd1:ProductOutput" name="getProductInfo_ProductOutput" />
    </message>
    <message name="getAllProductInfo_Input">
        <documentation>Input message for operation ProductInfo/getAllProductInfo.</documentation>
        <part element="xsd1:EmptyInput" name="getAllProductsInfo_EmptyInput" />
    </message>
    <message name="getAllProductInfo_Output">
        <documentation>Output message for operation ProductInfo/getAllProductInfo.</documentation>
        <part element="xsd1:ProductOutput" name="getAllProductsInfo_ProductsOutput" />
    </message>
    
    <portType name="ProductInfo">
        <operation name="getProductInfo">
            <input message="tns:getProductInfo_Input"/>
            <output message="tns:getProductInfo_Output"/>
        </operation>
        <operation name="insertProductInfo">
            <input message="tns:insertProductInfo_Input"/>
            <output message="tns:insertProductInfo_Output"/>
        </operation>
        <operation name="deleteProductInfo">
            <input message="tns:deleteProductInfo_Input"/>
            <output message="tns:deleteProductInfo_Output"/>
        </operation>
        <operation name="getAllProductInfo">
            <input message="tns:getAllProductInfo_Input"/>
            <output message="tns:getAllProductInfo_Output"/>
        </operation>
    </portType>
    
    <binding name="ProductInfo" type="tns:ProductInfo">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="getProductInfo">
    		<soap:operation soapAction="getProductInfo"
    			style="document" />
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="insertProductInfo">
    		<soap:operation soapAction="insertProductInfo"
    			style="document" />
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="deleteProductInfo">
    		<soap:operation soapAction="deleteProductInfo"
    			style="document" />
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    	<operation name="getAllProductInfo">
    		<soap:operation soapAction="getAllProductInfo"
    			style="document" />
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    </binding>

    <service name="ProductInfoVdb">
        <port binding="tns:ProductInfo" name="ProductInfo">
            <soap:address location="http://localhost:8080/ProductInfoVdb/ProductInfo"/>
        </port>
    </service>
    
</definitions>
